main {
	margin: 30px 20px;
}

pre {
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 10px;
}

.home-wrapper {
	max-width: 560px;
	margin: 40px auto;
}

/* if desktop */
@media only screen and (min-width: 570px) {
	.content-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.content-wrapper > .content {
		padding-right: 25px;
		max-width: 80%;
	}

	.content-wrapper > nav {
		padding-right: 20px;
	}

	nav > h3 {
		margin: 0 0 10px 0;
	}
}
