main {
	margin: 30px 20px;
}

.home-wrapper {
	max-width: 560px;
	margin: 0 auto;
}

.content-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.content-wrapper > .content {
	padding-right: 25px;
	max-width: 80%;
}

.content-wrapper > nav {
	padding-right: 20px;
}

nav > h3 {
	margin: 0 0 10px 0;
}
